body {
  background-image: url(/images/background.jpg);
  min-height: 980px;
  min-width: 1280px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: scroll;
  margin: 0;
  font-family: 'Russo One', sans-serif;
}

// MODAL

.modal {
  width: 100vw;
  height: 100vh;
  background: rgba(255,255,255,0.5);
	z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  position: fixed;

  .start-box {
    position: relative;
  width: 600px;
  height: 400px;
  margin: 20px 0;
  background: #64FD59;
  border-radius: 50% / 10%;
  color: black;
  text-align: center;
  text-indent: .1em;

    h1, h2 {
      text-align: center;
      position: relative;
    }

    p {
      text-align: center;
      padding: 30px;
      position: relative;
    }
    button {
      background-color: black;
      width: 200px;
      color: white;
      display: block;
      margin: 0 auto;
      border-radius: 10px;
      position: relative;
    }
  }

}


.start-box:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}


// HIDES THE GAME & GAME WRAPPER
.game {
  display: none;
}

// HEADER

header {
  display: flex;
  position: fixed;


.top-left {
  width: 200px;
  height: 166px;

    p {
      padding: 5px 5px 0px 12px;
      font-size: 25px;
      font-weight: 800;
      font-family: 'Russo One', sans-serif;
    }

  }

.top-centre {
  width: calc(100vw - 400px);
  height: 166px;
  position: relative;
  text-align: center;

    img {
      display: block;
      margin: 0 auto;

    }

    p {
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 80px;
    }

  }


  .top-right{
    width: 200px;
    height: 166px;
    padding: 0;
    border: 0;

    img.current-toy {
      background-color: rgba(255, 255, 255, 0.40);
      border-radius: 100px;
      width: 166px;
      height: 166px;
      display: block;
      margin: 17px auto;

    }
  }
}

.pointer {
    width: 150px;
    height: 40px;
    position: relative;
    background: #64FD59;
  }


  .pointer:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #64FD59;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }

  // Three two one count down


  .three-two-one {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color: #64FD59;
  }

// Toy Item Divs

.items {
  position: relative;
}

.acid {
width: 40px;
height: 40px;
border: 2px solid green;
display: inline-block;
position: absolute;
left: 480px;
top: 500px;
}

.apple {
    width: 50px;
    height: 50px;
    border: 2px solid pink;
    display: inline-block;
    position: absolute;
    top: 905px;
    left: 1050px;
}

.ball {
    width: 80px;
    height: 80px;
    border: 2px solid brown;
    display: inline-block;
    position: absolute;
    top: 330px;
    left: 30px;
}

.clock {
    width: 50px;
    height: 50px;
    border: 2px solid purple;
    display: inline-block;
    position: absolute;
    top: 210px;
    left: 360px;
}

.controller {
    width: 70px;
    height: 60px;
    border: 2px solid yellow;
    display: inline-block;
    position: absolute;
    top: 820px;
    left: 910px;
}

.dinner {
    width: 140px;
    height: 70px;
    border: 2px solid dodgerblue;
    display: inline-block;
    position: absolute;
    top: 880px;
    left: 640px;
}

.fish {
    width: 50px;
    height: 40px;
    border: 2px solid red;
    display: inline-block;
    position: absolute;
    top: 420px;
    left: 320px;
}

.lavalamp {
    width: 60px;
    height: 110px;
    border: 2px solid orange;
    display: inline-block;
    position: absolute;
    top: 430px;
    left: 260px;
}

.penguin {
    width: 50px;
    height: 70px;
    border: 2px solid grey;
    display: inline-block;
    position: absolute;
    top: 420px;
    left: 520px;
}

.pokemon {
    width: 100px;
    height: 100px;
    border: 2px solid darkgreen;
    display: inline-block;
    position: absolute;
    top: 680px;
    left: 520px;
}

.science {
    width: 50px;
    height: 80px;
    border: 2px solid lightblue;
    display: inline-block;
    position: absolute;
    top: 580px;
    left: 1180px;
}

.slipper {
    width: 50px;
    height: 60px;
    border: 2px solid darkblue;
    display: inline-block;
    position: absolute;
    top: 875px;
    left: 240px;
}


.spock {
width: 44px;
height: 60px;
border: 2px solid blue;
display: inline-block;
position: absolute;
left: 974px;
top: 303px;
}

.teddy {
    width: 200px;
    height: 80px;
    border: 2px solid darkred;
    display: inline-block;
    position: absolute;
    top: 600px;
    left: 150px;
}

.vader {
width: 120px;
height: 120px;
border: 2px solid gold;
border-radius: 100px;
display: inline-block;
position: absolute;
left: 1005px;
top: 350px;
}
