body {
  background-image: url(/images/background.jpg);
  min-height: 980px;
  min-width: 1280px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: scroll;
  margin: 0;
}

// MODAL

.modal {
  width: 100vw;
  height: 100vh;
  background: rgba(255,255,255,0.5);
	z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  position: fixed;

  .start-box {
    width: 600px;
    height: 400px;
    background-color: white;
    border-radius: 10px;

    h1, h2 {
      text-align: center;
    }

    p {
      text-align: center;
      padding: 30px;
    }
    button {
      background-color: black;
      width: 200px;
      color: white;
      display: block;
      margin: 0 auto;
      border-radius: 10px;
    }
  }

}


// HIDES THE GAME & GAME WRAPPER
.game {
  display: none;
}

// HEADER

header {
  display: flex;
  position: fixed;


.top-left {
  width: 200px;
  height: 166px;

  p {
    background-color: rgba(255, 255, 255, 0.20);
    padding: 20px;
    margin-left: -10px;
  }

  }

.top-centre {
  width: calc(100vw - 400px);
  height: 166px;
  position: relative;
  text-align: center;

    img {
      display: block;
      margin: 0 auto;

    }

    p {
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 80px;
    }

  }

  .top-right{
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 0;
    border: 0;

    .current-toy {
      width: 200px;
      height: 200px;
      background-color: rgba(255, 255, 255, 0.20);
      border-radius: 100px;
    }
  }
}

  // Three two one count down

  .three-two-one {
    font-size: 200px;
    font-weight: 800;
    text-align: center;
    color: red;

  }

// Toy Item Divs

.items {
  position: relative;
}

.acid {
width: 50px;
height: 80px;
background-color: green;
display: inline-block;
}

.apple {
width: 50px;
height: 80px;
background-color: pink;
display: inline-block;
}

.ball {
width: 50px;
height: 80px;
background-color: brown;
display: inline-block;
}

.clock {
width: 50px;
height: 80px;
background-color: purple;
display: inline-block;
}

.controller {
width: 50px;
height: 80px;
background-color: yellow;
display: inline-block;
}

.dinner {
width: 50px;
height: 80px;
background-color: dodgerblue;
display: inline-block;
}

.fish {
width: 50px;
height: 80px;
background-color: red;
display: inline-block;
}

.lavalamp {
  width: 50px;
  height: 80px;
  background-color: orange;
  display: inline-block;
  position: absolute;
}

.penguin {
width: 50px;
height: 80px;
background-color: grey;
display: inline-block;
}

.pokemon {
width: 50px;
height: 80px;
background-color: darkgreen;
display: inline-block;
}

.science {
width: 50px;
height: 80px;
background-color: lightblue;
display: inline-block;
}

.slipper {
width: 50px;
height: 80px;
background-color: darkblue;
display: inline-block;
}


.spock {
width: 50px;
height: 80px;
background-color: blue;
display: inline-block;
position: absolute;
left: 970px;
top: 200px;
}

.teddy {
width: 50px;
height: 80px;
background-color: darkred;
display: inline-block;
}

.vader {
width: 50px;
height: 80px;
background-color: gold;
display: inline-block;
}
