body {
  background-image: url(/images/background.jpg);
  min-height: 980px;
  min-width: 1280px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  overflow-x: scroll;
  margin: 0;
  font-family: 'Russo One', sans-serif;
  cursor: pointer;
}


// MODAL

.start-modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  position: fixed;

  .start-box {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 20px 0;
    background: #64FD59;
    border-radius: 50% / 10%;
    color: black;
    text-align: center;
    text-indent: .1em;

    h1, h2 {
      text-align: center;
      position: relative;
      margin: 15px;
    }

    p {
      font-size: 15px;
      text-align: center;
      padding: 15px;
      position: relative;
      margin: 0;
      line-height: 1.2;
    }
    button {
      background-color: black;
      width: 200px;
      color: white;
      display: block;
      margin: 0 auto;
      border-radius: 10px;
      position: relative;
      border: 0;
      font-family: 'Russo One', sans-serif;
      padding: 8px;
      font-size: 15px;
    }
  }
}

.score-modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  position: fixed;
  display: none;

  .score-box {
    position: relative;
    width: 600px;
    height: 300px;
    margin: 20px 0;
    background: #64FD59;
    border-radius: 50% / 10%;
    color: black;
    text-align: center;
    text-indent: .1em;

    h1, h2 {
      text-align: center;
      position: relative;
    }

    p {
      font-size: 15px;
      text-align: center;
      padding: 15px;
      position: relative;
      margin: 0;
      line-height: 1.2;
    }
    button {
      background-color: black;
      width: 200px;
      color: white;
      display: block;
      margin: 0 auto;
      border-radius: 10px;
      position: relative;
      border: 0;
      font-family: 'Russo One', sans-serif;
      padding: 8px;
      font-size: 15px;
    }
  }

}


.start-box:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}


// HIDES THE GAME & GAME WRAPPER
.game {
  display: none;
}

// HEADER

header {
  display: flex;
  position: fixed;


  .top-left {
    width: 200px;
    height: 166px;

    p {
      padding: 5px 5px 0px 12px;
      font-size: 25px;
      font-weight: 800;
      font-family: 'Russo One', sans-serif;
    }

  }

  .top-centre {
    width: calc(100vw - 400px);
    height: 166px;
    position: relative;
    text-align: center;

    img {
      display: block;
      margin: 0 auto;

    }

    p {
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 80px;
    }

  }


  .top-right{
    width: 200px;
    height: 166px;
    padding: 0;
    border: 0;

    img.current-toy {
      background-color: rgba(255, 255, 255, 0.40);
      border-radius: 100px;
      width: 166px;
      height: 166px;
      display: block;
      margin: 17px auto;

    }
  }
}

.pointer {
  width: 150px;
  height: 40px;
  position: relative;
  background: #64FD59;
}


.pointer:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #64FD59;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.pointerTwo {
  width: 150px;
  height: 40px;
  position: relative;
  background: #a64bcc;
}


.pointerTwo:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #a64bcc;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

// Three two one count down


.three-two-one {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  color: #64FD59;
}

// Toy Item Divs

.items {
  position: relative;
}

.acid {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  left: 515px;
  top: 500px;
}

.apple {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: absolute;
  top: 905px;
  left: 1085px;
}

.ball {
  width: 80px;
  height: 80px;
  display: inline-block;
  position: absolute;
  top: 330px;
  left: 65px;
}

.clock {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: absolute;
  top: 210px;
  left: 395px;
}

.controller {
  width: 70px;
  height: 60px;
  display: inline-block;
  position: absolute;
  top: 820px;
  left: 945px;
}

.dinner {
  width: 140px;
  height: 70px;
  display: inline-block;
  position: absolute;
  top: 880px;
  left: 675px;
}

.fish {
  width: 50px;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 420px;
  left: 355px;
}

.lavalamp {
  width: 60px;
  height: 110px;
  display: inline-block;
  position: absolute;
  top: 430px;
  left: 295px;
}

.penguin {
  width: 50px;
  height: 70px;
  display: inline-block;
  position: absolute;
  top: 420px;
  left: 555px;
}

.pokemon {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: absolute;
  top: 680px;
  left: 555px;
}

.science {
  width: 50px;
  height: 80px;
  display: inline-block;
  position: absolute;
  top: 580px;
  left: 1215px;
}

.slipper {
  width: 50px;
  height: 60px;
  display: inline-block;
  position: absolute;
  top: 875px;
  left: 275px;
}


.spock {
  width: 44px;
  height: 60px;
  display: inline-block;
  position: absolute;
  left: 1009px;
  top: 303px;
}

.teddy {
  width: 200px;
  height: 80px;
  display: inline-block;
  position: absolute;
  top: 600px;
  left: 185px;
}

.vader {
  width: 120px;
  height: 120px;
  display: inline-block;
  position: absolute;
  left: 1040px;
  top: 350px;
}

.spaceship {
    width: 130px;
    height: 130px;
    display: inline-block;
    position: absolute;
    left: 400px;
    top: 20px;
}
.mathposter {
    width: 60px;
    height: 80px;
    display: inline-block;
    position: absolute;
    left: 550px;
    top: 250px;
}
.bin {
    width: 60px;
    height: 80px;
    display: inline-block;
    position: absolute;
    left: 720px;
    top: 480px;
}

// Toy Level Two Item Divs

.items-level-two {
  position: relative;
  display: none;
}

.book {
    width: 116px;
    height: 40px;
    display: inline-block;
    position: absolute;
    left: 515px;
    top: 26px;
}

.bottle {
    width: 50px;
    height: 66px;
    display: inline-block;
    position: absolute;
    top: 137px;
    left: 881px;
}

.clock-two {
    width: 107px;
    height: 101px;
    display: inline-block;
    position: absolute;
    top: 328px;
    left: 765px;
}

.cup {
    width: 92px;
    height: 79px;
    display: inline-block;
    position: absolute;
    top: 627px;
    left: 653px;
}

.cusion {
    width: 91px;
    height: 73px;
    display: inline-block;
    position: absolute;
    top: 654px;
    left: 323px;
}

.pot {
    width: 108px;
    height: 117px;
    display: inline-block;
    position: absolute;
    top: 248px;
    left: 359px;
}

.slipper-two {
    width: 108px;
    height: 61px;
    display: inline-block;
    position: absolute;
    top: 671px;
    left: 770px;
}

.soap {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    top: 401px;
    left: 78px;
}

.sock {
    width: 70px;
    height: 50px;
    display: inline-block;
    position: absolute;
    top: 484px;
    left: 605px;
}

.spatu {
    width: 42px;
    height: 119px;
    display: inline-block;
    position: absolute;
    top: 184px;
    left: 510px;
}

.sugar {
    width: 68px;
    height: 53px;
    display: inline-block;
    position: absolute;
    top: 652px;
    left: 529px;
}

.vase {
    width: 75px;
    height: 89px;
    display: inline-block;
    position: absolute;
    top: 327px;
    left: 525px;
}


//Animation

.shake{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
